In [73]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [74]:
# Implementing Regression using Normal Equation

In [75]:
data = pd.read_csv('Data/ex1data2.txt',delimiter=',',names=['size','No.of bedrooms','Price'])
data.head()

   size  No.of bedrooms   Price
0  2104               3  399900
1  1600               3  329900
2  2400               3  369000
3  1416               2  232000
4  3000               4  539900

In [76]:
X=data[['size','No.of bedrooms']].values
Y=data[['Price']].values

In [77]:
def cost_normal (x,y,theta):
    m=y.size
    j = (1/(2*m)) * np.sum ( (np.dot(theta,x.transpose()) - y.transpose() )**2 )
    return j

In [78]:
X_new = np.c_[np.ones(X.shape[0]),X]
theta=np.zeros([1,3])
print(cost_normal(X_new,Y,theta))

65591548106.45744

In [79]:
def normal_Equation (x,y):
    return np.dot( np.linalg.inv( np.dot(x,x.transpose()) ), np.dot(x,y)  )

In [83]:
print('Optimal Parameters\n')
print(normal_Equation(X_new.transpose(),Y))

Optimal Parameters

[[89597.9095428 ]
 [  139.21067402]
 [-8738.01911233]]

#### Thus the normal equation gives us a way to find the optimal parameters analytically and not iteratively (Gradient Descent).